*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: inter;
}
.body{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
    width: 80vw;
    height: 75vh;
    border: .2rem solid black;
    border-radius: .5rem;;

}
.close{
    display: flex;
    flex-direction: row-reverse;
}
.close img{
    padding: 1rem;
}
.content-left{
    width: 40%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.body-img{
    height: 21.5rem;
    width: 18rem;
}
.content{
    display: flex;
    justify-content: space-evenly;


}
h2{
    font-size: 22px;
    font-weight: 400;
}
.discription{
    font-size: 14px;
}
.size ,.about{
    border-bottom: 1px solid black;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
}
.section-2{
    width: 38vw;
}
.btn{
    height: 2rem;
    width: 13rem;
    border-radius:5px;
    margin-top: 1rem;
}